.feature-container-1 {
    // display: none;
    display: block;
}

.feature-container-2 {
    display: none;
    // display: block;
}


.options {
    display: flex;
        width: 20em;
        align-items: center;
        justify-content: space-between;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1em;
        cursor: pointer;
        text-decoration: underline;
}

.active {
    color: red;
}

.show-container {
    display: flex;
    align-items: center;
    background: #ececec;
    margin: 1em auto;
    cursor: pointer;
    position: relative;

    &:hover {
     .feature-number {
            background: #ccc;
        }
    }
 }

 .arrow-container {
    position: absolute;
    right: 2em;
    bottom: .5em;
    font-size: 1.3rem;
    text-decoration: underline;
    transition: all .2s;

    &:hover {
        color: red;
        font-size:1.4rem
    }
 }

 .feature-number {
    padding: 1.5em 3em;
    display: flex;
    align-items: center;
    background: #dfdfdf;
    font-size: 1.5rem;
    font-weight: bold;
 }

 .feature-innerContainer {
     width: 100%;
     display: flex;
     justify-content: space-between;
 }

 .feature-text {
     font-size: 2rem;
     margin-left: 1em;
 }

 .feature-arrow {
     font-size: 2em;
     padding-right: 2em;

     &:hover {
         color: red;
     }
 }

.hide-container {
    display: flex;
    align-items: center;
    background: $color-white;
    margin: 1em auto;
    font-size: 2rem;
     margin-left: 1em;
     display: none;
}

 

.show {
    display: block;
}

.remove {
    display: none;
}






